# ==========================================
# CONFIGURAÇÃO DO SUPABASE
# ==========================================
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# ==========================================
# CONFIGURAÇÃO DO STRIPE (PAGAMENTOS)
# ==========================================

# Cole a chave que começa com pk_test_ aqui embaixo:
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51ShB5oFsUilypLmdJV5rTvig9CBjdKm6Q2OIglQ9PqqxsTxw1k8EpMUXfZ0W1SHt6bdeeXwqFLDXErwAQ7RivIQQ00ZMpBByAx

# Cole a chave que começa com sk_test_ aqui embaixo:
STRIPE_SECRET_KEY=sk_test_51ShB5oFsUilypLmdTCryuTj92wOYt4gndc20KZlKKRewcaBzb3IHn8TmChm6CYXBpYcPSB1u3FvBMBcAgSW8yKWw00K40Yc79G

# Deixe em branco por enquanto
STRIPE_WEBHOOK_SECRET=

# ==========================================
# PREÇOS DOS PLANOS (VAMOS GERAR NO PASSO 3)
# ==========================================
STRIPE_PRICE_SOLO_MONTHLY=
STRIPE_PRICE_SOLO_YEARLY=
STRIPE_PRICE_SOLO_PRO_MONTHLY=
STRIPE_PRICE_SOLO_PRO_YEARLY=
STRIPE_PRICE_TEAM_MONTHLY=
STRIPE_PRICE_TEAM_YEARLY=
STRIPE_PRICE_PREMIUM_MONTHLY=
STRIPE_PRICE_PREMIUM_YEARLY=
STRIPE_PRICE_ENTERPRISE_MONTHLY=
STRIPE_PRICE_ENTERPRISE_YEARLY=

# ==========================================
# CONFIGURAÇÃO DO SITE
# ==========================================
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_APP_MODE=development